<form [formGroup]="formGroup">
  <input type="text" formControlName="message" />
  <button (click)="pushMessage()">Publish message</button>
</form>

<button (click)="closeConnection()">Close connection</button>
<button (click)="openConnection()">Open connection</button>

<div>
  <h2>Sent messages</h2>
  <ul>
    <li *ngFor="let item of sent">
      Source: {{ item.source }} -> Content {{ item.content }}
    </li>
  </ul>
</div>

<div>
  <h2>Received messages</h2>
  <ul>
    <li *ngFor="let item of received">
      Source: {{ item.source }} -> Content {{ item.content }}
    </li>
  </ul>
</div>
