/* You can add global styles to this file, and also import other style files */

* {
  color: #ffffff;
}

html,
body {
  height: calc(100vh - 100px);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
}
